@page "/login"

<PageLayout IsLoading="IsLoading">
    <Content>
        <div class="p-3" style="height: 100vh">
            <div class="d-flex justify-content-center h-100">
                <div class="frame align-self-center w-sm-75">
                    <div class="d-flex justify-content-center page-title mb-3">Вход</div>

                    <EditForm Model="@AuthModel" OnValidSubmit="@LoginAsync">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <ValidationSummary />
                            @if (IsLoginFailed)
                            {
                                <ul class="validation-errors">
                                    <li class="validation-message">Неправильный логин или пароль</li>
                                </ul>
                            }
                        </div>
                        <div class="mb-3">
                            <input placeholder="Логин" id="name" class="form-control" @bind="AuthModel.Email" />
                        </div>

                        <div class="mb-3">
                            <input placeholder="Пароль" type="password" id="password" class="form-control" @bind="AuthModel.Password" />
                        </div>

                        <div class="mb-3">
                            <input placeholder="Бекенд URL" class="form-control" @bind-value="ApiUrl" />
                        </div>

                        <div class="d-flex justify-content-center w-100 h-100">
                            <button type="submit" class="btn btn-primary login-button" @onclick="() => IsLoginFailed = false">Войти</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </Content>
</PageLayout>