@using BlazorModalDialogs.Definitions
@using QuickActions.Common.Specifications
@using System.Globalization
@using WorkTimer.Common.Interfaces
@using WorkTimer.Common.Models
@using WorkTimer.Web.Common.Utils

@inherits Dialog<User, object>

<DialogLayout IsDisplayed="IsDisplayed">
    <Modal ModalSize="ModalSize.Large" Title="Пользователь" OnClose="() => this.Cancel()" DispalyCenter OnKeyEnterPressed="OnKeyEnterPressed">
        <Content>
            <MudGrid>
                <MudItem xs="4">
                    <MudForm ReadOnly>
                        <MudTextField Variant="Variant.Filled" T="string" Label="Имя" Value="Params.Name" />
                        <MudTextField Variant="Variant.Filled" T="string" Label="Логин" Value="Params.Email" />
                        <MudTextField Variant="Variant.Filled" T="string" Label="Роль" Value="Params.Role.ToString()" />
                        <MudNumericField Variant="Variant.Filled" T="decimal" Label="Оклад" Value="Params.Salary" />
                        @if (workPeriods != null)
                        {
                            <MudDivider Class="my-3" />
                            <MudTextField Variant="Variant.Filled" T="string" Label="Время работы" Value="workDuration.Humanize()" />
                            <MudNumericField Variant="Variant.Filled" T="decimal" Format="N2" decimal Label="Оплата за месяц" Value="durationSalary" />
                        }
                    </MudForm>
                </MudItem>
                <MudItem xs="8">
                    <MudDatePicker
                        DateFormat="yyyy/MM"
                        OpenTo="OpenTo.Year"
                        FixDay="1"
                        Variant="Variant.Outlined"
                        Required @bind-Date="SelectedMonth"
                        Label="Месяц"/>
                    @if (workPeriods != null)
                    {
                        <MudTable Dense FixedHeader Class="mt-3 overflow-auto" Height="317px" Items="workPeriods">
                            <HeaderContent>
                                <MudTh>Начало</MudTh>
                                <MudTh>Конец</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Начало">@context.StartAt.Humanize()</MudTd>
                                <MudTd DataLabel="Конец">@context.EndAt.Humanize()</MudTd>
                            </RowTemplate>
                        </MudTable>
                    }
                </MudItem>
            </MudGrid>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-danger" OnClick="() => this.Cancel()">Закрыть</ModalButton>
            </div>
        </Footer>
    </Modal>
</DialogLayout>

@code {

    [Inject]
    public IWorkPeriod WorkPeriodsService { get; set; }

    private DateTime? SelectedMonth
    {
        get => selectedMonth;
        set
        {
            if (!selectedMonth.Equals(value))
            {
                selectedMonth = value;
                LoadPeriodsData();
            }
        }
    }

    private DateTime? selectedMonth;
    private List<WorkPeriod> workPeriods;
    private TimeSpan workDuration = new();
    private decimal durationSalary;

    protected override void OnAfterShow()
    {
        SelectedMonth = null;
        workPeriods = null;
        StateHasChanged();
    }

    protected void OnKeyEnterPressed()
    {
        this.Cancel();
    }

    private async Task LoadPeriodsData()
    {
        if (SelectedMonth == null || SelectedMonth == default) return;

        workPeriods = await WorkPeriodsService.Read(
            new Specification<WorkPeriod>(p => p.EndAt != null
                && p.StartAt.Date >= SelectedMonth.Value.ToUniversalTime().Date
                && p.EndAt.Value.Date < SelectedMonth.Value.ToUniversalTime().AddMonths(1).Date
                && p.UserId == Params.Id),
            0,
            int.MaxValue
        );

        workDuration = new();
        foreach (var period in workPeriods.Select(p => p.EndAt.Value - p.StartAt))
        {
            workDuration += period;
        }

        durationSalary = CalculateTotalSalary(workDuration);

        StateHasChanged();
    }

    private decimal CalculateTotalSalary(TimeSpan workDuration)
    {
        var workDaysCount = selectedMonth.Value.GetCountWorkDaysInMonth();

        return (decimal)(Params.Salary / (workDaysCount * 8)) * (decimal)workDuration.TotalHours;
    }
}