@using QuickActions.Web.Identity.Components
@using WorkTimer.Common.Models;

@inherits LayoutComponentBase;

<AuthorizationLayout TSession="User">
	<Authorized>
		<div class="page">
			<main>
				<article class="content">
					@Body
				</article>
			</main>
		</div>
	</Authorized>
	<NotAuthorized>
		Not auth
	</NotAuthorized>
</AuthorizationLayout>
<DialogProvider />