@page "/calendar"

@attribute [Authorize]

<PageLayout IsLoading ShowTabs>
    <Header>
        <div class="d-flex flex-row justify-content-center p-3">
            <div class="page-title">
                Календарь
            </div>
        </div>
    </Header>
    <Content>
        Some content
    </Content>
</PageLayout>