@page "/calendar"

@attribute [Authorize]

<PageLayout IsLoading="IsLoading" ShowTabs>
    <Header>
        <div class="d-flex flex-row justify-content-center p-3">
            <div class="page-title">
                Календарь
            </div>
        </div>
    </Header>
    <Content>
        <div class="p-3">
            <div class="calendar">
                <div class="calendar-header">
                    <span class="month-picker">@SelectedDate.Year</span>
                    <div class="year-picker">
                        <span class="year-change">
                            &lt;
                        </span>
                        <span>@SelectedDate.GetMonthName()</span>
                        <span class="year-change">
                            &gt;
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Пн</div>
                        <div>Вт</div>
                        <div>Ср</div>
                        <div>Чт</div>
                        <div>Пт</div>
                        <div>Сб</div>
                        <div>Вс</div>
                    </div>
                    <div class="calendar-days">
                        @for (int i = 0; i < SelectedDate.GetDaysUntilNewMonth(); i++)
                        {
                            <div />
                        }
                        @for (int i = 0; i < DateTime.DaysInMonth(SelectedDate.Year, SelectedDate.Month); i++)
                        {
                            <div class="calendar-day-hover">
                                @(i + 1)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </Content>
</PageLayout>