@page "/report"

@attribute [Authorize]

<PageLayout IsLoading="IsLoading" ShowTabs>
    <Header>
        <div class="d-flex flex-row justify-content-center p-3">
            <div class="page-title">
                Отчет
            </div>
        </div>
    </Header>
    <Content>
        <div class="spacing-3 p-3">
            <input class="form-control" type="month" @bind="SelectedMonth" />

            <div class="section-title">Периоды за </div>

            <div class="d-flex flex-row justify-content-between">
                <div>
                    <b>Начало</b>
                </div>
                <div>
                    <b>Конец</b>
                </div>
            </div>

            <div class="separator-horizontal" />

            @foreach (var period in WorkPeriods)
            {
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        @period.StartAt.Humanize()
                    </div>
                    <div>
                        @period.EndAt.Humanize()
                    </div>
                </div>

                @if (WorkPeriods.IndexOf(period) < WorkPeriods.Count - 1)
                {
                    <div class="separator-horizontal" />
                }
            }
        </div>
    </Content>
</PageLayout>